body {
  background: #F8F8F8;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 20px;
  font-weight: 300;
}

h1 {
  color: #e54e53;
  font-size: 24px;
  font-weight: 600;
}

/* Header */
header {
  height: 200px;
  background: #e54e53;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

nav {
  display: flex;
  width: 900px;
  height: 20px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.user-name-box {
  font-weight: 600;
  letter-spacing: 0.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-name-box > p {
  font-size: 16px;
  font-weight: 400;
}

.header-ul {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
  font-weight: 300;
  margin-right: 20px;
}

.fa-suitcase {
  margin-right: 10px;
}

/* User Porfile section */
.user-profile-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.user-profile {
  margin: -116px 0 0 -20px;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-pic {
  width: 500px;
  height: 500px;
}

.user-pic > img {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

.about-me-section {
  height: 300px;
  width: 1000px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.about-me-container {
  margin: 30px 30px 0 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.about-me-blurb {
  margin-top: 15px;
  letter-spacing: 0.6px;
  line-height: 1.5;
}

.skills-section {
  display: flex;
  margin: auto 0;
}

.skills-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.skills-list > li {
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 6px 10px 6px 10px;
  margin-right: 10px;
  font-weight: 400;
}
